<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hills.mcs_02">

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--
    Allows Glide to monitor connectivity status and restart failed requests if users go from a
    a disconnected to a connected network state.
    -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 允许安装应用 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon1"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/appicon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ActivityMineMinor5SensorDataDelete"></activity>
        <activity android:name=".activities.ActivityMineMinor5SensorDataSensorContent" />
        <activity android:name=".activities.ActivityMineMinor5SensorData" />
        <activity android:name=".activities.ActivityPublishSensorTask" />
        <activity android:name=".activities.ActivityPwdFind" />
        <activity android:name=".EmailRegiste.ActivityEmailRegisterPasswordSet" />
        <activity android:name=".EmailRegiste.ActivityEmailRegister" />
        <activity
            android:name=".activities.ActivityPublishBasicTask"
            android:screenOrientation="portrait" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".activities.ActivityTaskDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivitySecondPage"
            android:label="@string/title_activity_2rd_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityLogin"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".taskSubmit.ActivityTaskSubmit"
            android:label="Activity_taskSubmit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityFuncSportShare"
            android:label="Activity_func_sportShare"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityRegister"
            android:label="Activity_registe"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityEditInfo"
            android:label="Activity_editInfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityTaskDetailPublished"
            android:label="Activity_Task_Detail_Published"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityMineMinor1Publish"
            android:label="Activity_mine_minor1_publish"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityMineSettingGeneral"
            android:label="Activity_mine_setting_general"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityMineSettingGeneralMultiLanguage"
            android:label="Activity_mine_setting_general_multilan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityMineMinor7Setting"
            android:label="Activity_mine_minor7_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityGridPage"
            android:label="Activity_gridPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityMineMinor4Wallet"
            android:label="Activity_mine_minor4_wallet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityEditInfoDetail"
            android:label="Activity_editInfo_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ActivityMineMinor2Accepted"
            android:label="Activity_mine_minor2_accepted"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SenseDataDisplay.SQLiteDataDisplay"
            android:label="SQLiteDataDisplay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b0aff8ce65f37b6573acca8e9882f6d5" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".sensorFunction.SensorService" />
        <service android:name=".func_sportsShare.StepService" />
        <service android:name=".sensorFunction.SenseDataUploadService"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>